RPC_URL= # dashboard.alchemy.com TOKEN

POSTGRES_USER=indexer
POSTGRES_PASSWORD=indexer
POSTGRES_DB=indexer_db
POSTGRES_HOST=localhost # optional (default localhost)
POSTGRES_PORT=5433 # optional (default 5433)

TOKEN_ADDRESS=0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48
START_BLOCK=25750000
MAX_BLOCK_RANGE=10
CONFIRMATIONS=12