RPC_URL= # dashboard.alchemy.com TOKEN

POSTGRES_USER=indexer
POSTGRES_PASSWORD=indexer
POSTGRES_DB=indexer_db
POSTGRES_HOST=localhost # optional (default localhost)
POSTGRES_PORT=5433 # optional (default 5433)